body {
    justify-content: center;
    background-image: url("metal-plate-texture.jpg");
    background-color: #1B1A1A;

}

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.title {
    color: #E00000;
    font-size: 100px;
    font-family: 'Out Of My League';
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.content {
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.text {
    padding: 40px;
    max-width: 500px;
    width: 100%;
    height: auto;
    color: white;
    font-size: 22px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    font-family: Montserrat;
    line-height: 30px;
    border: 3px solid #e00000cb;
}

.team-member {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.all-profiles {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.profile {
    width: 320px;
    height: 100%;
    padding: 30px;
    margin: 20px;
    background: #CBCBCB;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.50) inset;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: inline-flex;
}

.image {
    max-width: 150px;
    width: 100%;
    max-height: 150px;
    height: 100%;
}

.info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    display: flex;
}

.name {
    color: #1B1A1A;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
    font-family: Montserrat;
    text-align: center;
}

.role {
    color: #E00000;
    font-size: 24px;
    font-weight: 600;
    word-wrap: break-word;
    font-family: Montserrat;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icon {
    max-width: 51.20px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    margin: 5px;
}

#email {
    position: relative;
    top: 5px;
}


#Maya,
#Iheb,
#Maissa {
    display: none;
}



.Navbar {
    display: flex;
    flex-direction: row;
    background-color: #cbcbcb;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    background: #cbcbcb;
    box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
    border-radius: 100px;
}

.Basics {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #cbcbcb;
    color: #1b1a1a;
    font-size: 14px;
    font-family: Montserrat;
}

.Basics a:hover {
    text-decoration: underline;
    animation: glow 1s infinite alternate;

  }

  .login:hover {
      animation: glow 1s infinite alternate;
  }
  
  @keyframes glow {
      0% {
          color: #ffffff;
          text-shadow: 0 0 5px #e00000, 0 0 10px #e00000, 0 0 15px #e00000;
      }
  
      100% {
          color: #ffffff;
          text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
      }
  }

.login {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 100px;
    background-color: #e00000;
}

.login:hover {
    border: 2px solid #e00000;
    background-color: #cbcbcb;
    cursor: pointer;
    box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
}

.navbar_container {
    display: flex;
}

.notlogo {
    display: flex;
    align-items: center;
}

.login {
    display: inline-block;
    /* Display them side by side */
    margin-left: 10px;
    /* Add spacing between the elements */
}

.logo {
    flex: 1;
    /* Allow the logo to take up available space on the left */
}



.menu-button {
    display: none;
}



.login {
    display: block;
    /* Display the menu items as a list */
    margin: 5px 0;
}

.container {
    width: 100%;
    /* Set the width to 100% to make it adapt to the screen width */
    padding: 8px 16px;
    /* Adjust padding for smaller screens */
}



.Basicsah {
text-decoration: none;
color: #1B1A1A;
}

.Basicsam {
text-decoration: none;
color: #1B1A1A;
}

.Basicsaf {
text-decoration: none;
color: #1B1A1A;
}

.Basicsap {
text-decoration: none;
color: #1B1A1A;
}

.Basicsaa {
text-decoration: none;
color:#e00000;
}

.logina {
text-decoration: none;
color: #1B1A1A;
}

.footer-forms {
    margin-top: -140px;
}

.space-y-2> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

footer {
    background-color: rgb(255, 255, 255);
    background-image: url("images/abstract-red-light-lines-pipe-speed-zoom-black-background-technology_1142-10950.jpg");
    width: 100%;
}

.footer-container {
    margin-top: 220px;
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}



footer .footer-logo p {
    color: white;
}


footer .footer-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid #e00000;
    padding-left: 1.5rem;
    height: fit-content;
}

footer ul {
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem
        /* 14px */
    ;
    line-height: 1.25rem;
    margin-top: .5rem;
}

footer ul li {
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}

footer ul li:hover {
    color: #e00000;
    text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);
}

footer .help-sec {
    grid-column-start: 2;
}

footer .homea {
    text-decoration: none;
    color: #d4d4d4;
}



footer .homea:hover {
    color: #e00000;
    text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);
}





footer .cr-con {
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}

.GETINTOUCH {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.GETINTOUCH form {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}


form .g-inp {
    padding: .25rem .5rem;
    font-size: 16px;
}

.g-inp textarea {
    height: 250px;
}

.f-btn {
    padding: .25rem 1rem;
    background-color: #e00000;
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.footer-icons img:hover {
    cursor: pointer;
}

.error {
    color: red;
}

.FOLLOWUS {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

@media(max-width:1400px) {
    .page-container {
        flex-direction: column;
        align-items: center;
    }

    .text {
        max-width: 1000px;
        width: 100%;
        
    }

}

@media (max-width: 800px) {
    .page-container {
        flex-direction: column;
        align-items: center;
    }

    .section {
        padding: 20px;
        text-align: center;
        
    }

    #team {
        position: static;
    }

    .text {
        font-size: 16px;
    }

    .title {
        font-size: 140px;
        line-height: 10px;
    }

    .notlogo {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .notlogo.active {
        display: block;
        background: #cbcbcb;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        flex-direction: column;
    }

    .Basics,
    .login {
        display: block;
        margin: 5px 0;
    }

    .container {
        width: 100%;
        padding: 8px 16px;
    }

    .custom-select {
        width: 100%;
    }

    .custom-select select {
        padding: 8px 16px;
    }

    .custom-select .custom-arrow {
        right: 5px;
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 736px) {

    .title {
        font-size: 80px;
        margin-top: 50px;
    }


    .profile {
        width: 220px;
        height: 80%;
        padding: 30px;
        margin: 80px;
        background: #CBCBCB;
        box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.50) inset;
        border-radius: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        display: inline-flex;
    }

    .image {
        max-width: 150px;
        width: 100;
        max-height: 150px;
        height: 100%;
    }
    

    
    .name {
        color: #1B1A1A;
        font-size: 20px;
        font-weight: 700;
        word-wrap: break-word;
        font-family: Montserrat;
        text-align: center;
    }
    
    .role {
        color: #E00000;
        font-size: 20px;
        font-weight: 600;
        word-wrap: break-word;
        font-family: Montserrat;
        text-align: center;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .icon {
        max-width: 51.20px;
        width: 30%;
        max-height: 50px;
        height: 30%;
        margin: 5px;
    }
    
    #email {
        position: relative;
        top: 5px;
    }
    

    .Navbar {
        display: flex;
        flex-direction: row;
        background-color: #cbcbcb;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 5px;
        background: #cbcbcb;
        box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
        border-radius: 100px;
        margin-top: 120px;
        margin-left: 70px;
        margin-right: 70px;

    }

    .Basics {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 35px;
        margin-right: 35px;
        background: #cbcbcb;
        color: #1b1a1a;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 400;
    }

    .login {
        color: white;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 400;
        padding: 5px;
        padding-left: 10px ;
        padding-right: 10px ;
        border-radius: 100px;
        background-color: #e00000;
        display: inline-block;
        margin-left: 34px;
    }

    .login:hover {
        border: 2px solid #e00000 ;
        box-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50); 
        background-color: #cbcbcb;
    }

    .navbar_container {
        display: flex;
    }

    .logo {
        flex: 1;
        margin-top: -10px;
    }

    .menu-button {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .notlogo {
        display: none;
    }

    .notlogo.active {
        display: block;
        background: #cbcbcb;
        position: absolute;
        top: 166.5px;
        left: 127px;
        right: 127px;
        bottom: 130px;
        flex-direction: column;
        z-index: 2;
        
    }

    .Basics a:hover {
        text-decoration: underline;
        animation: glow 1s infinite alternate;
  
      }
  
      .login:hover {
          animation: glow 1s infinite alternate;
      }
      
      @keyframes glow {
          0% {
              color: #ffffff;
              text-shadow: 0 0 5px #e00000, 0 0 10px #e00000, 0 0 15px #e00000;
          }
      
          100% {
              color: #ffffff;
              text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
          }
      }




    .Basicsah {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsam {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsaf {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsap {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsaa {
        text-decoration: none;
        color: #E00000;
    }

    .logina {
        text-decoration: none;
        color: #1B1A1A;
    }
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        list-style: none;
        text-decoration: none;
    }

    .error {
        color: red;
        font-size: 13px;
    }


    .footer-forms {
        margin-top: -1px;
        margin-left: 10px;
    }

    .space-y-2> :not([hidden])~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0.2rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
    }

    footer {
        background-color: rgb(255, 255, 255);
        background-image: url("images/abstract-red-light-lines-pipe-speed-zoom-black-background-technology_1142-10950.jpg");
    }

    .footer-container {
        margin-top: 250px;
        padding: 1.5rem 4rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
    }



    footer .footer-logo p {
        color: white;
        width: 160px;
        font-size: 15px;
    }

    .footer-logo {
        margin-left: -40px;
    }

    footer .footer-title {
        font-size: 1rem;
        line-height: 1.75rem;
        color: white;
        border-left: 3px solid #e00000;
        padding-left: 1.5rem;
        height: fit-content;
    }

    footer ul {
        padding-left: 1.75rem;
        color: white;
        font-size: 12px;
        line-height: 1.25rem;
        margin-top: .5rem;
    }

    footer ul li {
        margin: .25rem 0;
        cursor: pointer;
        color: #d4d4d4;
        width: 50px;
    }

    footer ul li:hover {
        color: #e00000;
        text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);
    }

    footer .useful-links {
        margin-left: 150px;
        margin-top: 50px;
        width: 80px;
    }

    footer .help-sec {
        grid-column-start: 1;
        margin-left: -50px;
        margin-top: 70px;
    }

    footer .cr-con {
        background-color: #232127;
        color: white;
        padding: 1rem 4rem;
        text-align: center;
        font-size: 13px;
    }

    .GETINTOUCH {
        display: grid;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 65px;
        margin-left: 70px;
    }

    .GETINTOUCH form {
        display: flex;
        width: fit-content;
        flex-direction: column;
        margin-top: 0rem;
        --tw-space-y-reverse: 0;
        margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
    }


    form .g-inp {
        padding: .25rem .5rem;
        font-size: 12px;
    }

    .g-inp textarea {
        height: 250px;
    }

    .f-btn {
        padding: .25rem 1rem;
        width: 200px;
        background-color: #e00000;
        border-radius: .25rem;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .footer-icons img:hover {
        cursor: pointer;
    }

    .footer-icons {
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .FOLLOWUS {
        display: inline;
        margin-top: 250px;
        margin-left: -310px;
    }
}