@media (min-width: 1024px) {

    .Navbar {
        display: flex;
        flex-direction: row;
        background-color: #cbcbcb;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 5px;
        background: #cbcbcb;
        box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
        border-radius: 100px;
    }

    .Basics {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background: #cbcbcb;
        color: #1b1a1a;
        font-size: 14px;
        font-family: Montserrat;
    }
    
    .Basics a:hover {
      text-decoration: underline;
      animation: glow 1s infinite alternate;

    }

    .login:hover {
        animation: glow 1s infinite alternate;
    }
    
    @keyframes glow {
        0% {
            color: #ffffff;
            text-shadow: 0 0 5px #e00000, 0 0 10px #e00000, 0 0 15px #e00000;
        }
    
        100% {
            color: #ffffff;
            text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
        }
    }

    .login {
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        font-size: 14px;
        font-family: Montserrat;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 100px;
        background-color: #e00000;
    }

    .login:hover {
        border: 2px solid #e00000;
        background-color: #cbcbcb;
        cursor: pointer;
        box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
    }

    .navbar_container {
        display: flex;
    }

    .notlogo {
        display: flex;
        align-items: center;
    }

    .login {
        display: inline-block;
        /* Display them side by side */
        margin-left: 10px;
        /* Add spacing between the elements */
    }

    .logo {
        flex: 1;
        /* Allow the logo to take up available space on the left */
    }



    .menu-button {
        display: none;
    }



    .login {
        display: block;
        /* Display the menu items as a list */
        margin: 5px 0;
    }

    .container {
        width: 100%;
        /* Set the width to 100% to make it adapt to the screen width */
        padding: 8px 16px;
        /* Adjust padding for smaller screens */
    }

}

.Basicsah {
    text-decoration: none;
    color: #e00000;
}

.Basicsam {
    text-decoration: none;
    color: #1B1A1A;
}

.Basicsaf {
    text-decoration: none;
    color: #1B1A1A;
}

.Basicsap {
    text-decoration: none;
    color: #1B1A1A;
}

.Basicsaa {
    text-decoration: none;
    color: #1B1A1A;
}

.logina {
    text-decoration: none;
    color: #1B1A1A;
}

/* -----------------Navbar code ends here----------------- */

body {
    background-image: url("bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color:black;
}




.Herosection {
    display: block;
    margin-top: 150px;
    margin-left: 90px;

}

.slogan p {
    position: relative;
    font-weight: 300;
    font-size: 35px;
    color: var(--silver, #cbcbcb);
    text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
    font-family: Fugaz One, Permanent Marker, sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    line-height: 60px;
    width: 500px;

}

.slogan .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.slogan .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
    color: var(--silver, #cbcbcb);
    text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
    font-family: Fugaz One, Permanent Marker, sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    line-height: 60px;
}


.joinnowbutton {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background: #e00000;
    border-radius: 100px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    color: #cbcbcb;
    font-size: 28px;
    font-family: Out of my league, Fugaz One, Permanent Marker;
    font-weight: 600;
    word-wrap: normal;
    position: absolute;
    margin-top: 50px;
    margin-left: 13%;
}

.joinnowbutton:hover {
    cursor: pointer;
    box-shadow: 0px 16px 30px 0px rgba(245, 245, 245, 0.25) inset, 0px 2px 5px 6px rgba(243, 242, 242, 0.45);
    font-size: 30px;
}

.joinnowbuttona {
    text-decoration: none;
    color: #cbcbcb;
}

@media (max-width: 768px) {
    body {
        background-image: url("bg.jpg");
    }
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin-top: 45%;
    margin-left: 32%;
}

.mySlides {
    display: none;
    margin-left: 45px;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    margin-top: -22px;
    margin-left: -40px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(167, 4, 4, 0.639)
}


.text {
    display: none;
    color: #000000;
    background-color: #d4d4d4ad;
    font-size: 15px;
    padding: 6px 12px;
    position: absolute;
    bottom: 8px;
    margin-left: 150px;
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.text a {
    text-decoration: none;
    color: #000000;
}


.linka:hover {
    cursor: pointer;
    color: #e00000;
    text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);

}

.mySlides:hover .text {
    display: block;
    color: #000000;
    background-color: #d4d4d4ad;
    font-size: 15px;
    padding: 5px 12px;
    position: absolute;
    bottom: 8px;
    margin-left: 150px;
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.numbertext {
    color: #e00000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dots {
    text-align: center;
    margin-left: 30px;
   
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-right: 2px;
    background-color: #bbb;
    border-radius: 70%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@font-face {
    font-family: "Out of my league";
    src: url("fonts/OutOfMyLeague.ttf") format("truetype");
}





* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
}



.footer-forms {
    margin-top: -140px;
}

.space-y-2> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

footer {
    background-color: rgb(255, 255, 255);
    background-image: url("footer-bg.jpg");
}

.footer-container {
    margin-top: 220px;
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}



footer .footer-logo p {
    color: white;
}


footer .footer-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid #e00000;
    padding-left: 1.5rem;
    height: fit-content;
}

footer ul {
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem
        /* 14px */
    ;
    line-height: 1.25rem;
    margin-top: .5rem;
}

footer ul li {
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}

footer ul li:hover {
    color: #e00000;
    text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);
}

footer .help-sec {
    grid-column-start: 2;
}

footer .homea {
    text-decoration: none;
    color: #d4d4d4;
}



footer .homea:hover {
    color: #e00000;
    text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);
}





footer .cr-con {
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}

.GETINTOUCH {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.GETINTOUCH form {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}


form .g-inp {
    padding: .25rem .5rem;
    font-size: 16px;
}

.g-inp textarea {
    height: 250px;
}

.f-btn {
    padding: .25rem 1rem;
    background-color: #e00000;
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.footer-icons img:hover {
    cursor: pointer;
}

.error {
    color: red;
}

.FOLLOWUS {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}






























@media (min-width: 735px) and (max-width: 1023px) {
   
    
    .Navbar {
        display: flex;
        flex-direction: row;
        background-color: #cbcbcb;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 5px;
        background: #cbcbcb;
        box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
        border-radius: 100px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .Basics {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background: #cbcbcb;
        color: #1b1a1a;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word;
        text-align: center;
    }

    .login {
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 400;
        padding: 10px;
        border-radius: 100px;
        background-color: #e00000;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .notlogo {
        display: flex;
        align-items: center;
    }

    .Basics,
    .login {
        display: inline-block;
        margin-left: 10px;
        
    }

    .logo {
        flex: 1;
       
    }

   
    .menu-button {
        display: none;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

   
    
        .notlogo {
            display: none;
           
        }

        .menu-button {
            display: none;
        }

        

        .notlogo.active {
            display: block;
            background: #cbcbcb;
            position: absolute;
            top: 64px;
            margin-left: 10px;
            right: 10px;
            flex-direction: column;
        }

        .Basics,
        .login {
            display: block;
            margin: 5px 0;
        }

        .container {
            width: 100%;
            padding: 8px 16px;
        }

        .Basicsah {
            text-decoration: none;
            color: #e00000;
        }

        .Basicsam {
            text-decoration: none;
            color: #1B1A1A;
        }

        .Basicsaf {
            text-decoration: none;
            color: #1B1A1A;
        }

        .Basicsap {
            text-decoration: none;
            color: #1B1A1A;
        }

        .Basicsaa {
            text-decoration: none;
            color: #1B1A1A;
        }

        .logina {
            text-decoration: none;
            color: #1B1A1A;
        }
    

    /* -----------------Navbar code ends here----------------- */
    body {
        background-image: url("bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
    }

    .Basicsah {
        text-decoration: none;
        color: #e00000;
    }

    .Basicsam {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsaf {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsap {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsaa {
        text-decoration: none;
        color: #1B1A1A;
    }

    .logina {
        text-decoration: none;
        color: #1B1A1A;
    }

   

    .logo {
        align-self: flex-start;
    }

    .Herosection {
        display: block;
        margin-top: 120px;
        margin-left: 60px;

    }

    .slogan {
        color: var(--silver, #cbcbcb);
        text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
        font-family: Fugaz One, Permanent Marker, sans-serif;
        font-size: 31px;
        font-style: italic;
        font-weight: 300;
        line-height: 10px;
    }

    .joinnowbutton {
        width: fit-content;
        padding: 15px;
        background: #e00000;
        border-radius: 100px;
        color: #cbcbcb;
        font-size: 23px;
        font-family: Out of my league;
        margin-top: 25px;
        margin-left: 13%;
    }

    .joinnowbutton:hover {
        cursor: pointer;
    }

    .joinnowbuttona {
        text-decoration: none;
        color: #cbcbcb;
    }



    * {
        box-sizing: border-box
    }

    
    .slideshow-container {
        max-width: 500px;
        position: relative;
        margin-top: 400px;
        margin-left: 170px;
        margin-right: -100px;
    }




    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 40px;
        margin-top: -22px;
        margin-left: 5px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }


    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }


    .prev:hover,
    .next:hover {
        background-color: rgba(167, 4, 4, 0.639)
    }


    .text {
        display: none;
        color: #000000;
        background-color: #d4d4d4ad;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 20%;
        text-align: center;
        text-decoration: none;
    }

    .text a {
        text-decoration: none;
        color: #000000;
    }


    .linka:hover {
        cursor: pointer;
        color: #e00000;
        text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);

    }

    .mySlides:hover .text {
        display: block;
        color: #000000;
        background-color: #d4d4d4ad;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        margin-left: 135px;
        width: 20%;
        text-align: center;
        text-decoration: none;
    }

    .numbertext {
        color: #e00000;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dots {
        text-align: center;
        
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin-right: 2px;
        background-color: #bbb;
        border-radius: 70%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }


    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @font-face {
        font-family: "Out of my league";
        src: url("fonts/OutOfMyLeague.ttf") format("truetype");
    }
    

    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        list-style: none;
        text-decoration: none;
    }

    .error {
        color: red;
        font-size: 13px;
    }


    .footer-forms {
        margin-top: -1px;
        margin-left: 20px;
    }

    .space-y-2> :not([hidden])~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0.2rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
    }

    footer {
        background-color: rgb(255, 255, 255);
        background-image: url("footer-bg.jpg");
    }

    .footer-container {
        margin-top: 250px;
        padding: 1.5rem 4rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
    }



    footer .footer-logo p {
        color: white;
        width: 160px;
        font-size: 15px;
    }

    .footer-logo {
        margin-left: -40px;
    }

    footer .footer-title {
        font-size: 1rem;
        line-height: 1.75rem;
        color: white;
        border-left: 3px solid #e00000;
        padding-left: 1.5rem;
        height: fit-content;
    }

    footer ul {
        padding-left: 1.75rem;
        color: white;
        font-size: 12px;
        line-height: 1.25rem;
        margin-top: .5rem;
    }

    footer ul li {
        margin: .25rem 0;
        cursor: pointer;
        color: #d4d4d4;
        width: 50px;
    }

    footer ul li:hover {
        color: #e00000;
        text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);
    }

    footer .useful-links {
        margin-left: 150px;
        margin-top: 50px;
        width: 80px;
    }

    footer .help-sec {
        grid-column-start: 1;
        margin-left: -50px;
        margin-top: 70px;
    }

    footer .cr-con {
        background-color: #232127;
        color: white;
        padding: 1rem 4rem;
        text-align: center;
        font-size: 13px;
    }

    .GETINTOUCH {
        display: grid;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 65px;
        margin-left: 100px;
    }

    .GETINTOUCH form {
        display: flex;
        width: fit-content;
        flex-direction: column;
        margin-top: 0rem;
        --tw-space-y-reverse: 0;
        margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
    }


    form .g-inp {
        padding: .25rem .5rem;
        font-size: 12px;
    }

    .g-inp textarea {
        height: 250px;
    }

    .f-btn {
        padding: .25rem 1rem;
        width: 200px;
        background-color: #e00000;
        border-radius: .25rem;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .footer-icons img:hover {
        cursor: pointer;
    }

    .footer-icons {
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .FOLLOWUS {
        display: inline;
        margin-top: 230px;
        margin-left: -170px;
    }


}














@media (max-width: 736px) {

    .Navbar {
        display: flex;
        flex-direction: row;
        background-color: #cbcbcb;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 5px;
        background: #cbcbcb;
        box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
        border-radius: 100px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .Basics {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 35px;
        margin-right: 35px;
        background: #cbcbcb;
        color: #1b1a1a;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 400;
    }

    .login {
        color: white;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 400;
        padding: 5px;
        padding-left: 10px ;
        padding-right: 10px ;
        border-radius: 100px;
        background-color: #e00000;
        display: inline-block;
        margin-left: 34px;
    }

    .login:hover {
        border: 2px solid #e00000 ;
        box-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50); 
        background-color: #cbcbcb;
    }

    .navbar_container {
        display: flex;
    }

    .logo {
        flex: 1;
        margin-top: -10px;
    }

    .menu-button {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .notlogo {
        display: none;
    }

    .notlogo.active {
        display: block;
        background: #cbcbcb;
        position: absolute;
        top: 67.5px;
        left: 40px;
        right: 40px;
        bottom: 260px;
        flex-direction: column;
        z-index: 2;
    }

    .Basics a:hover {
        text-decoration: underline;
        animation: glow 1s infinite alternate;
  
      }
  
      .login:hover {
          animation: glow 1s infinite alternate;
      }
      
      @keyframes glow {
          0% {
              color: #ffffff;
              text-shadow: 0 0 5px #e00000, 0 0 10px #e00000, 0 0 15px #e00000;
          }
      
          100% {
              color: #ffffff;
              text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
          }
      }




    .Basicsah {
        text-decoration: none;
        color: #e00000;
    }

    .Basicsam {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsaf {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsap {
        text-decoration: none;
        color: #1B1A1A;
    }

    .Basicsaa {
        text-decoration: none;
        color: #1B1A1A;
    }

    .logina {
        text-decoration: none;
        color: #1B1A1A;
    }

    /* -----------------Navbar code ends here----------------- */




    body {
        background-image: url("bg.jpg");
        background-size: contain;
        background-repeat: repeat;
    }

    .Herosection {
        display: block;
        margin-top: 80px;
        margin-left: 40px;

    }

    .Herosection img {
        width: 250px;
    }

    .slogan {
        color: var(--silver, #cbcbcb);
        text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.8);
        font-family: Fugaz One, Permanent Marker, sans-serif;
        font-size: 19px;
        font-style: italic;
        font-weight: 70;
        line-height: 10px;
    }

    .slogan p {
        position: relative;
        font-weight: 300;
        font-size: 25px;
        color: var(--silver, #cbcbcb);
        text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.7);
        font-family: Fugaz One, Permanent Marker, sans-serif;
        font-style: italic;
        font-weight: 70;
        line-height: 35px;
        width: 500px;

    }

    .slogan .letter {
        display: inline-block;
        line-height: 5px;
        transform-origin: 0 0;
        color: var(--silver, #cbcbcb);
        text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.7);
        font-family: Fugaz One, Permanent Marker, sans-serif;
        font-size: 25px;
        font-style: italic;
        font-weight: 70;
        line-height: 6px;
    }

    .joinnowbutton {
        width: fit-content;
        height: fit-content;
        padding: 15px;
        background: #e00000;
        border-radius: 100px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        display: inline-flex;
        color: #cbcbcb;
        font-size: 22px;
        font-family: Out of my league, Monserrat;
        font-weight: 600;
        margin-top: 70px;
        margin-left: 13%;
    }

    .joinnowbutton:hover {
        cursor: pointer;
        font-size: 23px;
    }

    .joinnowbuttona {
        text-decoration: none;
        color: #cbcbcb;
    }


    * {
        box-sizing: border-box
    }

   
    .slideshow-container {
        max-width: 400px;
        position: relative;
        margin-top: 80%;
        margin-left: 28%;
    }

    .mySlides {
        display: none;
        margin-left: 5px;

    }

    .mySlides img {
        width: 250px;
        height: 350px;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 40px;
        margin-top: -22px;
        margin-right: 47px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }


    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }


    .prev:hover,
    .next:hover {
        background-color: rgba(167, 4, 4, 0.639)
    }


    .text {
        display: none;
    }

    .text a {
        text-decoration: none;
        color: #000000;
    }


    .linka:hover {
        cursor: pointer;
        color: #e00000;
        text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);

    }

    .mySlides:hover .text {
        display: block;
        color: #000000;
        background-color: #d4d4d4ad;
        font-size: 15px;
        padding: 5px 12px;
        position: absolute;
        bottom: 8px;
        margin-left: 90px;
        width: 23%;
        text-align: center;
        text-decoration: none;
    }

    .numbertext {
        color: #e00000;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dots {
        text-align: center;
        margin-left: 49px;
    }

    .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin-right: 2px;
        background-color: #bbb;
        border-radius: 70%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }


    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }





    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        list-style: none;
        text-decoration: none;
    }

    .error {
        color: red;
        font-size: 13px;
    }


    .footer-forms {
        margin-top: -1px;
        margin-left: 10px;
    }

    .space-y-2> :not([hidden])~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0.2rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
    }

    footer {
        background-color: rgb(255, 255, 255);
        background-image: url("footer-bg.jpg");
    }

    .footer-container {
        margin-top: 250px;
        padding: 1.5rem 4rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
    }



    footer .footer-logo p {
        color: white;
        width: 160px;
        font-size: 15px;
    }

    .footer-logo {
        margin-left: -40px;
    }

    footer .footer-title {
        font-size: 1rem;
        line-height: 1.75rem;
        color: white;
        border-left: 3px solid #e00000;
        padding-left: 1.5rem;
        height: fit-content;
    }

    footer ul {
        padding-left: 1.75rem;
        color: white;
        font-size: 12px;
        line-height: 1.25rem;
        margin-top: .5rem;
    }

    footer ul li {
        margin: .25rem 0;
        cursor: pointer;
        color: #d4d4d4;
        width: 50px;
    }

    footer ul li:hover {
        color: #e00000;
        text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);
    }

    footer .useful-links {
        margin-left: 150px;
        margin-top: 50px;
        width: 80px;
    }

    footer .help-sec {
        grid-column-start: 1;
        margin-left: -50px;
        margin-top: 70px;
    }

    footer .cr-con {
        background-color: #232127;
        color: white;
        padding: 1rem 4rem;
        text-align: center;
        font-size: 13px;
    }

    .GETINTOUCH {
        display: grid;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 65px;
        margin-left: 70px;
    }

    .GETINTOUCH form {
        display: flex;
        width: fit-content;
        flex-direction: column;
        margin-top: 0rem;
        --tw-space-y-reverse: 0;
        margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
    }


    form .g-inp {
        padding: .25rem .5rem;
        font-size: 12px;
    }

    .g-inp textarea {
        height: 250px;
    }

    .f-btn {
        padding: .25rem 1rem;
        width: 200px;
        background-color: #e00000;
        border-radius: .25rem;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .footer-icons img:hover {
        cursor: pointer;
    }

    .footer-icons {
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .FOLLOWUS {
        display: inline;
        margin-top: 250px;
        margin-left: -310px;
    }


    @font-face {
        font-family: "Out of my league";
        src: url("fonts/OutOfMyLeague.ttf") format("truetype");
    }


}