@media (min-width: 1024px) {
  
.Navbar {
  display: flex;
  flex-direction: row;
  background-color: #cbcbcb;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: #cbcbcb;
  box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
  border-radius: 100px;

}

.Basics {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #cbcbcb;
  color: #1b1a1a;
  /*border: 4px #1b1a1a solid;
  border-radius: 100px;*/
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}

.login {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  padding: 10px;
  border-radius: 100px;
  background-color: #e00000;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notlogo {
  display: flex;
  align-items: center;
}

.Basics,
.login {
  display: inline-block; /* Display them side by side */
  margin-left: 10px; /* Add spacing between the elements */
}

.logo {
  flex: 1; /* Allow the logo to take up available space on the left */
}

/* Your existing styles for the desktop view go here */

/* Hamburger menu icon styling */
.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Media query for screens under 1000px */
@media (max-width: 800px) {
  .notlogo {
    display: none; /* Hide the regular menu items */
  }

  .menu-button {
    display: block; /* Show the hamburger menu icon */
  }

  /* Additional styles for the dropdown menu */
  .notlogo.active {
    display: block;
    background: #cbcbcb;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    flex-direction: column;
  }

  .Basics,
  .login {
    display: block; /* Display the menu items as a list */
    margin: 5px 0;
  }

  .container {
      width: 100%; /* Set the width to 100% to make it adapt to the screen width */
      padding: 8px 16px; /* Adjust padding for smaller screens */
  }

}
.Basicsah{
  text-decoration: none;
  color: #e00000;
}
.Basicsam{
  text-decoration: none;
  color: #1B1A1A;
}
.Basicsaf{
  text-decoration: none;
  color: #1B1A1A;
}
.Basicsap{
  text-decoration: none;
  color: #1B1A1A;
}
.Basicsaa{
  text-decoration: none;
  color: #1B1A1A;
}
.logina{
  text-decoration: none;
  color: #1B1A1A;
}
/* -----------------Navbar code ends here----------------- */

body {
  background-image: url("images/Landingpagebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;
}

.biglogo {
  position: absolute;
  margin-left: 96px;
  margin-top: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-shrink: 0;
}

.Herosection {
  color: var(--silver, #cbcbcb);
  text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
  font-family: Fugaz One, Permanent Marker, sans-serif;
  font-size: 35px;
  font-style: italic;
  font-weight: 300;
  line-height: 10px;
  position: absolute;
  margin-left: 90px;
  margin-top: 290px;
}

.joinnowbutton {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  background: #e00000;
  border-radius: 100px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  color: #cbcbcb;
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 600;
  word-wrap: normal;
  position: absolute;
  margin-top: 35%;
  margin-left: 13%;
}

.joinnowbutton:hover{
  cursor: pointer;
}
.joinnowbuttona{
  text-decoration: none;
  color: #cbcbcb;
}

@media (max-width: 768px) {
  body {
    background-image: url("small-background.jpg");
  }
}

.ourservices {
  position: absolute;
  margin-top: 75%;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.parent-container {
  position: relative;
  display: flex;
  flex-direction: column;

}
@font-face {
  font-family: "Out of my league";
  src: url("fonts/OutOfMyLeague.ttf") format("truetype");
}
.container2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  width: 700px;
  height: 519px;
  font-family: Montserrat;
  transition: all 400ms;
}

.box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background-color: #cbcbcb;
  color: #1b1a1a;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}
.container2:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}

.container2 .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.container2:has(.box1:hover) {
  grid-template-columns: 3fr 1fr 1fr;
}

.container2:has(.box2:hover) {
  grid-template-columns: 1fr 3fr 1fr;
}

.container2:has(.box3:hover) {
  grid-template-columns: 1fr 1fr 3fr;
}

.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even) {
  transform: translateY(16px);
}

footer{
    padding-top: 40px;
    background-color: #1B1A1A;
    color: #CBCBCB;
    position:absolute;
    margin-top: 1600px;
    width: 100%;

}

.container3{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerplogo{
 margin-left: 15px;
}

.description{
    font-family: Montserrat;
    margin-top: 5px;
}


.FollowIcons{
    font-family: Montserrat;
    margin-top: 10px;
    
    
}

.Icons{
    margin-left: 0px;
    margin-top: 30px;
    display: flex;
}

.Form{
    display:flex;
    flex-direction: column;
    margin-left: 10px;

}
.emal{
    font-family: Montserrat;
}
.follow{
    display: flex;
    flex-direction: column;
}
}






















@media (min-width: 635px) and (max-width: 1023px) {
  
.Navbar {
  display: flex;
  flex-direction: row;
  background-color: #cbcbcb;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: #cbcbcb;
  box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
  border-radius: 100px;

}

.Basics {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #cbcbcb;
  color: #1b1a1a;
  /*border: 4px #1b1a1a solid;
  border-radius: 100px;*/
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}

.login {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  padding: 10px;
  border-radius: 100px;
  background-color: #e00000;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notlogo {
  display: flex;
  align-items: center;
}

.Basics,
.login {
  display: inline-block; /* Display them side by side */
  margin-left: 10px; /* Add spacing between the elements */
}

.logo {
  flex: 1; /* Allow the logo to take up available space on the left */
}

/* Your existing styles for the desktop view go here */

/* Hamburger menu icon styling */
.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Media query for screens under 1000px */
@media (max-width: 800px) {
  .notlogo {
    display: none; /* Hide the regular menu items */
  }

  .menu-button {
    display: block; /* Show the hamburger menu icon */
  }

  /* Additional styles for the dropdown menu */
  .notlogo.active {
    display: block;
    background: #cbcbcb;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    flex-direction: column;
  }

  .Basics,
  .login {
    display: block; /* Display the menu items as a list */
    margin: 5px 0;
  }

  .container {
      width: 100%; /* Set the width to 100% to make it adapt to the screen width */
      padding: 8px 16px; /* Adjust padding for smaller screens */
  }

  .Basicsah{
    text-decoration: none;
    color: #e00000;
  }
  .Basicsam{
    text-decoration: none;
    color: #1B1A1A;
  }
  .Basicsaf{
    text-decoration: none;
    color: #1B1A1A;
  }
  .Basicsap{
    text-decoration: none;
    color: #1B1A1A;
  }
  .Basicsaa{
    text-decoration: none;
    color: #1B1A1A;
  }
  .logina{
    text-decoration: none;
    color: #1B1A1A;
  }

/* -----------------Navbar code ends here----------------- */



  body {
    background-image: url("images/Landingpagebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .logo {
    align-self: flex-start;
  }
  
  .biglogo {
    position: absolute;
    margin-left: 8%;
    margin-top: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
  }
  
  .Herosection {
    color: var(--silver, #cbcbcb);
    text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
    font-family: Fugaz One, Permanent Marker, sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    line-height: 10px;
    position: absolute;
    margin-left: 2%;
    margin-top: 290px;
  }
  
  .joinnowbutton {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background: #e00000;
    border-radius: 100px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    color: #cbcbcb;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: normal;
    position: absolute;
    margin-top: 55%;
    margin-left: 13%;
  }
  
  .joinnowbutton:hover{
    cursor: pointer;
  }
  .joinnowbuttona{
    text-decoration: none;
    color: #cbcbcb;
  }
  
  @media (max-width: 768px) {
    body {
      background-image: url("small-background.jpg");
    }
  }
  
  .ourservices {
    position: absolute;
    margin-top: 100%;
    margin-left: 3%;
    display: flex;
    align-items: center;
  }
  
  .parent-container {
    position: relative;
    display: flex;
    flex-direction: column;
  
  }
  @font-face {
    font-family: "Out of my league";
    src: url("fonts/OutOfMyLeague.ttf") format("truetype");
  }
  .container2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 700px;
    height: 519px;
    font-family: Montserrat;
    transition: all 400ms;
  }
  
  .box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background-color: #cbcbcb;
    color: #1b1a1a;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
  }
  .container2:hover .box {
    filter: grayscale(100%) opacity(24%);
  }
  
  .box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
  }
  
  .container2 .box:hover {
    filter: grayscale(0%) opacity(100%);
  }
  
  .container2:has(.box1:hover) {
    grid-template-columns: 3fr 1fr 1fr;
  }
  
  .container2:has(.box2:hover) {
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  .container2:has(.box3:hover) {
    grid-template-columns: 1fr 1fr 3fr;
  }
  
  .box:nth-child(odd) {
    transform: translateY(-16px);
  }
  
  .box:nth-child(even) {
    transform: translateY(16px);
  }
  
  footer{
      padding-top: 40px;
      background-color: #1B1A1A;
      color: #CBCBCB;
      position:absolute;
      margin-top: 1600px;
      width: 100%;
  
  }
  
  .container3{
      display:flex;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .footerplogo{
   margin-left: 15px;
  }
  
  .description{
      font-family: Montserrat;
      margin-top: 5px;
  }
  
  
  .FollowIcons{
      font-family: Montserrat;
      margin-top: 10px;
      
      
  }
  
  .Icons{
      margin-left: 0px;
      margin-top: 30px;
      display: flex;
  }
  
  .Form{
      display:flex;
      flex-direction: column;
      margin-left: 10px;
  
  }
  .emal{
      font-family: Montserrat;
  }
  .follow{
      display: flex;
      flex-direction: column;
  }

}
}













@media (max-width: 635px) {



  .Navbar {
    display: flex;
    flex-direction: row;
    background-color: #cbcbcb;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    background: #cbcbcb;
    box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
    border-radius: 100px;

}

.Basics {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #cbcbcb;
    color: #1b1a1a;
    /*border: 4px #1b1a1a solid;
    border-radius: 100px;*/
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.login {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    padding: 10px;
    border-radius: 100px;
    background-color: #e00000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notlogo {
    display: flex;
    align-items: center;
}

.Basics,
.login {
    display: inline-block; /* Display them side by side */
    margin-left: 10px; /* Add spacing between the elements */
}

.logo {
    flex: 1; /* Allow the logo to take up available space on the left */
}

/* Your existing styles for the desktop view go here */

/* Hamburger menu icon styling */
.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Media query for screens under 1000px */
  @media (max-width: 800px) {
    .notlogo {
      display: none; /* Hide the regular menu items */
    }
  
    .menu-button {
      display: block; /* Show the hamburger menu icon */
    }
  
    /* Additional styles for the dropdown menu */
    .notlogo.active {
      display: block;
      background: #cbcbcb;
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      flex-direction: column;
    }
  
    .Basics,
    .login {
      display: block; /* Display the menu items as a list */
      margin: 5px 0;
    }

    .container {
        width: 100%; /* Set the width to 100% to make it adapt to the screen width */
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }
  
.Basicsah{
  text-decoration: none;
  color: #e00000;
}
.Basicsam{
  text-decoration: none;
  color: #1B1A1A;
}
.Basicsaf{
  text-decoration: none;
  color: #1B1A1A;
}
.Basicsap{
  text-decoration: none;
  color: #1B1A1A;
}
.Basicsaa{
  text-decoration: none;
  color: #1B1A1A;
}
.logina{
  text-decoration: none;
  color: #1B1A1A;
}

/* -----------------Navbar code ends here----------------- */

  

  body {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  
  .biglogo {
    margin-left: 13%;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
  }
  
  .Herosection {
    color: var(--silver, #cbcbcb);
    text-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
    font-family: Fugaz One, Permanent Marker, sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    line-height: 10px;
    position: absolute;
    margin-left: 0%;
    margin-top: 20px;
  }
  .joinnowbutton {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background: #e00000;
    border-radius: 100px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    color: #cbcbcb;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: normal;
    position: absolute;
    margin-top: 30%;
    margin-left: 13%;
  }
  
  .joinnowbutton:hover{
    cursor: pointer;
  }
  .joinnowbuttona{
    text-decoration: none;
    color: #cbcbcb;
  }
  
  .ourservices {
    position: absolute;
    margin-top: 80%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .parent-container {
    position: relative;
    display: flex;
    flex-direction: column;
  
  }
  @font-face {
    font-family: "Out of my league";
    src: url("fonts/OutOfMyLeague.ttf") format("truetype");
  }
  .container2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 90%;
    height: 519px;
    font-family: Montserrat;
    transition: all 400ms;
  }
  
  .box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background-color: #cbcbcb;
    color: #1b1a1a;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
  }
  .container2:hover .box {
    filter: grayscale(100%) opacity(24%);
  }
  
  .box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
  }
  
  .container2 .box:hover {
    filter: grayscale(0%) opacity(100%);
  }
  
  .container2:has(.box1:hover) {
    grid-template-columns: 3fr 1fr 1fr;
  }
  
  .container2:has(.box2:hover) {
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  .container2:has(.box3:hover) {
    grid-template-columns: 1fr 1fr 3fr;
  }
  
  .box:nth-child(odd) {
    transform: translateY(-16px);
  }
  
  .box:nth-child(even) {
    transform: translateY(16px);
  }
  footer{
      padding-top: 40px;
      background-color: #1B1A1A;
      color: #CBCBCB;
      position:absolute;
      margin-top: 930px;
      width: 100%;
  
  }
  
  .container3{
      display:flex;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .footerplogo{
   margin-left: 30px;
  }
  
  .description{
      font-family: Montserrat;
      margin-top: 35px;
  }
  
  
  .FollowIcons{
      font-family: Montserrat;
      margin-top: 10px;
      
      
  }
  
  .Icons{
      margin-left: 0px;
      margin-top: 30px;
      display: flex;
  }
  
  .Form{
      display:flex;
      flex-direction: column;
      margin-left: 0px;
  
  }
  .emal{
      font-family: Montserrat;
  }
  .follow{
      display: flex;
      flex-direction: column;
  }

  
}}