body {
    flex: content;
    flex-direction: column;
    background-image: url("metal-plate-texture.jpg");
    background-color: #1B1A1A;

}

.a {
    text-decoration: none;
    color: #1B1A1A;
}


.custom-select {
    position: relative;
    display: inline-block;
    width: 600px;
}

.custom-select select {
    width: 100%;
    padding: 12px 36px;
    border: none;
    border-radius: 100px;
    background: var(--silver, #CBCBCB);
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.50), 0px 16px 30px 0px rgba(0, 0, 0, 0.50) inset;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select .custom-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('arrow-down.svg') no-repeat center center;
    background-size: contain;
}


.title {
    height: 200px;
    width: 100%;
    flex: 1 0 0;
    color: var(--Orange-red, #E00000);
    font-family: Out Of My League;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 100px;
}

.text_box {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    padding: 12px 36px;
}

.text {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: white;
}

#results {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-top: 50px;
    margin-bottom: 50px;

}

.container {
    width: 600px;
    height: auto;
    padding: 12px 36px;
    border-radius: 100px;
    background: var(--silver, #CBCBCB);
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.50), 0px 16px 30px 0px rgba(0, 0, 0, 0.50) inset;

}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content {
    flex: 1 1 0;
    text-align: center;
}

.title_for_results {
    color: #1B1A1A;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

.location {
    color: #1B1A1A;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.custom-select select:hover {
    background-color: #FF5733; 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7); 
}

.custom-select select:active {
    background-color: rgba(224, 0, 0, 0.7);
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.50), 0px 16px 30px 0px rgba(0, 0, 0, 0.50) inset; 
}

.container:hover {
    background-color: #FF5733; 
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7); /* Add a glow effect on hover */
}

.container:active {
    background-color: rgba(224, 0, 0, 0.7);
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.50), 0px 16px 30px 0px rgba(0, 0, 0, 0.50) inset; /* Revert to the original box shadow when clicked */
}


.Navbar {
    display: flex;
    flex-direction: row;
    background-color: #cbcbcb;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    background: #cbcbcb;
    box-shadow: 0px 1px 20px rgba(224, 0, 0, 0.5);
    border-radius: 100px;
    margin: 100px;
}

.Basics {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #cbcbcb;
    color: #1b1a1a;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.login {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    padding: 10px;
    border-radius: 100px;
    background-color: #e00000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notlogo {
    display: flex;
    align-items: center;
}

.Basics,
.login {
    display: inline-block;
    margin-left: 10px;
}

.logo {
    flex: 1;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.Basics:hover {
    animation: glow 1s infinite alternate;
}

.login:hover {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        color: #ffffff;
        text-shadow: 0 0 5px #e00000, 0 0 10px #e00000, 0 0 15px #e00000;
    }

    100% {
        color: #ffffff;
        text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
    }
}

@media (max-width: 800px) {
    .notlogo {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .notlogo.active {
        display: block;
        background: #cbcbcb;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        flex-direction: column;
    }

    .Basics,
    .login {
        display: block;
        margin: 5px 0;
    }

    .container {
        width: 100%;
        padding: 8px 16px;
    }

    .custom-select {
        width: 100%;
    }

    .custom-select select {
        padding: 8px 16px;
    }

    .custom-select .custom-arrow {
        right: 5px;
        width: 16px;
        height: 16px;
    }

    .custom-select .custom-arrow {
        right: 5px;
        width: 16px;
        height: 16px;
    }

    .text{
        font-size: 16px;
    }

    .title{
        font-size: 140px;
    }
}
