* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Montserrat;

}

/* <================= NAVBAR CODE =================> */
nav {
    background: #cbcbcb;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 1000;
}

.nav-list {
    display: flex;

}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-button {
    display: none;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

@media(min-width: 900px) {
    #home {
        color: white;
        font-weight: 600;
        background-color: #e00000;
        padding-top: 100%;
        padding-bottom: 14.5px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .nav-list li a:hover {
        color: #e00000;
        font-weight: 700;
        transition-delay: 100ms;
    }
}


@media(max-width : 900px) {
    .nav-list {
        top: 80px;
        width: 100%;
        height: 0;
        background-color: #cbcbcb;
        align-items: center;
        margin: 0;
        padding: 0;
        position: absolute;
        justify-content: center;
        top: 50px;
        left: 0;
        transition: 0.4s ease;
        flex-direction: column;
        gap: 10px;
        z-index: 1;
        overflow: hidden;

    }

    .nav-list li {
        background-color: #e00000;
        text-align: center;
        width: 50%;
        height: 30px;
        line-height: 5px;
        padding: 20px;
        border-radius: 20px;
        opacity: 0;
        transition: 0.2s ease;
    }

    .nav-list a {
        color: white;
    }

    .nav-list.active {
        height: 300px;
        background-color: #cbcbcb;
    }

    .menu-button {
        display: block;
        margin-right: 20px;
    }

    .nav-list.active li {
        opacity: 1;
        ;
    }
}

.logo {
    margin-left: 20px;
}

/* <================= HERO SECTION =================> */
body{
    background: linear-gradient(137deg, rgba(2,0,36,1) 0%, rgba(68,2,20,1) 46%, rgba(224,0,0,1) 100%); 
    margin: 0px;
}

.Herosection {
    display: block;
    margin-left: 90px;

}

.mainLogo {
    margin-top: 100px;
}

.slogan p {
    font-size: 40px;
    color: white;
    font-style: italic;
    font-weight: 600;
}

.joinbutton {
    background: #e00000;
    color: white;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: fit-content;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    margin-left: 150px;
    margin-top: 50px;
}

.jointext {
    display: inline-block;
    transform: skew(21deg);
    font-size: 200%;
}

.joinbutton::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: white;
    color: white;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.joinbutton:hover {
    color: #e00000;
}

.joinbutton:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

/* <================= BIG ARROW =================> */
@keyframes arrowAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the distance the arrow moves up */
    }
}

.bigArrowContainer {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    animation: arrowAnimation 2s infinite; /* Adjust the duration as needed */
}

/* <================= OUR SERVICES =================> */
.ourServices {
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    font-size: 100px;
    font-family: Montserrat;    
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    text-shadow: 0px 7px 11px rgba(0,0,0,0.89);
}

/* <================= SLIDE SHOW SECTION =================> */

.slideshow-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.mySlides {
    display: none;
    justify-content: center;

}

.mySlides img {
    max-width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.prev,
.next {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prev:hover,
.next:hover {
    background-color: rgba(167, 4, 4, 0.639)
}


.text {
    display: none;
    justify-content: center;
    color: #000000;
    background-color: #d4d4d4ad;
    font-size: 15px;
    padding: 6px 12px;
    bottom: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.6s ease;
}


.text a {
    text-decoration: none;
    color: #000000;
}


.linka:hover {
    cursor: pointer;
    color: #e00000;
    text-shadow: 0px 0px 10px rgba(224, 0, 0, 0.50);
}

.mySlides:hover .text {
    display: flex;
    justify-content: center;
    color: #000000;
    background-color: #d4d4d4ad;
    font-size: 15px;
    padding: 5px 12px;
    bottom: 8px;
    text-align: center;
    text-decoration: none;
    opacity: 1;
}

.dots {
    text-align: center;
    justify-content: center;
    margin: 5px;

}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding: 5px;
    margin-right: 2px;
    background-color: #575757;
    border-radius: 70%;
    display: inline-flex;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #f2f2f2;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.mySlides.fade img {
    border-radius: 50px;
}


footer .cr-con {
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@font-face {
    font-family: "Out of my league";
    src: url("fonts/OutOfMyLeague.ttf") format("truetype");
}

/* <================= FOOTER =================> */

footer {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/footer_background.jpg");
    font-family: Montserrat;    
}

.footer{
    padding: 70px 0;
}

.containerFooter{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.rowFooter{
    display: flex;
    flex-wrap: wrap;
}

.footerCol{
    width: 25%;
    padding: 0 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerCol h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 600;
    position: relative;
}

.footerCol h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footerCol ul li {
    margin-bottom: 10px;

}

.footerCol ul li a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footerCol ul li a:hover{
    color:#ffffff;
    padding-left: 10px;
    font-weight: 600;
}

.footerCol .social-links {
    color: #ffffff;

}

.footerCol .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff20;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: white;
    transition: all 0.5s ease;

}

.footerCol .social-links a:hover {
    color: #24262b;
    background-color: white;
}

.footerCol p {
    color: white;
    font-size: 12px;
}

@media(max-width: 767px) {
    .footerCol {
        width: 50%;
        margin-bottom: 30px;

    }
}

@media(max-width: 574px) {
    .footerCol {
        width: 100%;
    }
}

@media (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        list-style: none;
        text-decoration: none;
    }

    .Herosection {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .Herosection img{ 
        margin-bottom: 20px;
    }

    .joinbutton {
        display: flex;
        justify-self: center;
        align-self: center;
        margin-left: 0px;
    }

    a { 
        display: flex;
        justify-content: center;
        align-content: center
    }
    
    .bigArrowContainer {
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: 100px;
        animation: arrowAnimation 2s infinite; 
    }

    .bigArrow {
        display: flex;
        justify-self: center;
        align-self: center;
        width: 100%;

    }

    .slogan {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .slogan p{
        font-size: 25px;
        text-align: center;
    }


    footer {
        background-color: rgb(255, 255, 255);
        background-image: url("../images/footer_background.jpg");
    }

    @font-face {
        font-family: "Out of my league";
        src: url("fonts/OutOfMyLeague.ttf") format("truetype");
    }

    * {
        box-sizing: border-box
    }


    .ourServices{
        font-size: 70px;
    }

}
