* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0px;
}

body {
  background: linear-gradient(137deg, rgba(2, 0, 36, 1) 0%, rgba(68, 2, 20, 1) 46%, rgba(224, 0, 0, 1) 100%);
  margin: 0px;
}


/* <================= NAVBAR CODE =================> */
nav {
  background: #cbcbcb;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  z-index: 1000;
}

.nav-list {
  display: flex;

}

.nav-list li {
  margin: 0 20px;
}

.nav-list a {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-button {
  display: none;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 5px;
}

@media(min-width: 900px) {
  .nav-list li a:hover {
      color: #e00000;
      font-weight: 700;
      transition-delay: 100ms;
  }
}


@media(max-width : 900px) {
  .nav-list {
      top: 80px;
      width: 100%;
      height: 0;
      background-color: #cbcbcb;
      align-items: center;
      margin: 0;
      padding: 0;
      position: absolute;
      justify-content: center;
      top: 50px;
      left: 0;
      transition: 0.4s ease;
      flex-direction: column;
      gap: 10px;
      z-index: 1;
      overflow: hidden;

  }

  .nav-list li {
      background-color: #e00000;
      text-align: center;
      width: 50%;
      height: 30px;
      line-height: 5px;
      padding: 20px;
      border-radius: 20px;
      opacity: 0;
      transition: 0.2s ease;
  }

  .nav-list a {
      color: white;
  }

  .nav-list.active {
      height: 300px;
      background-color: #cbcbcb;
  }

  .menu-button {
      display: block;
      margin-right: 20px;
  }

  .nav-list.active li {
      opacity: 1;
      ;
  }
}

.logo {
  margin-left: 20px;
}

/* <================= END NAVBAR CODE =================> */

.join_us {
  padding-top: 100px;
  margin-bottom: 50px;
  color: white;
  font-size: 100px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  text-shadow: 0px 7px 11px rgba(0, 0, 0, 0.89);
  @media screen and (max-width: 768px) {
      font-size: 70px;
  }
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sign_up_input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  font-family: Montserrat;
  font-weight: 400;
  box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.89);
}

#sign_up_button {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  font-family: Montserrat;
  font-weight: 400;
  box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.89);
  background-color: #e00000;
  color: white;
  font-weight: 600;
}


.sign_up_input:hover {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
}

.sign_up_input:active {
  background-color: rgba(224, 0, 0, 0.7);
}


.button1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#sign_up_button {
  width: 120px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  color: #1b1a1a;
  background-color: white;
  font-size: 24px;
  border: none;
  appearance: none;
  font-family: Montserrat;
  border-radius: 100px;
  margin-top: 50px;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#sign_up_button:hover {
  cursor: pointer;
  transition: 400ms;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
}

#sign_up_button:active {
  background-color: rgba(224, 0, 0, 0.7);
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.50), 0px 16px 30px 0px rgba(0, 0, 0, 0.50) inset;
}

.reminder {
  color: white;
  font-size: 18px;
  font-family: Montserrat;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.a_reminder {
  text-decoration-style: none;
  color: white;   
}

.a_reminder:hover {
  color: white;
  font-weight: 700;
  transition-delay: 100ms;
}

.a_reminder:active {
  color: #e00000;
  font-weight: 700;
  transition-delay: instant;
}

.a_reminder:visited {
  color: white;
  text-decoration: none;
}

/* <================= FOOTER =================> */

footer {
  background-color: rgb(255, 255, 255);
  background-image: url("../images/footer_background.jpg");
  font-family: Montserrat;
}

.footer {
  padding: 70px 0;
}

.containerFooter {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.rowFooter {
  display: flex;
  flex-wrap: wrap;
}

.footerCol {
  width: 25%;
  padding: 0 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footerCol h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 600;
  position: relative;
}

.footerCol h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footerCol ul li {
  margin-bottom: 10px;

}

.footerCol ul li a {
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.footerCol ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
  font-weight: 600;
}

.footerCol .social-links {
  color: #ffffff;

}

.footerCol .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff20;
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  color: white;
  transition: all 0.5s ease;

}

.footerCol .social-links a:hover {
  color: #24262b;
  background-color: white;
}

.footerCol p {
  color: white;
  font-size: 12px;
}

.wrapper {
  margin-bottom: 10px;
}

.description {
  color: white;
  display: block;
}

footer .cr-con {
  background-color: #232127;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
}

@media(max-width: 767px) {
  .footerCol {
      width: 50%;
      margin-bottom: 30px;

  }
}

@media(max-width: 574px) {
  .footerCol {
      width: 100%;
  }
}
